# Building blocks
A,0                                              # AIR
B,4                                              # COBBLESTONE

7x9x7 # Template dimensions

# Template data
# 0. slice
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
# 1. slice
A A A A A A A
A A A A A A A
A B B B B B A
A B B B B B A
A B A A A B A
A B A A A B A
A B A A A B A
A B B B B B A
A B B B B B A
# 2. slice
A A A A A A A
A A A A A A A
A B B B B B A
A B A A A B A
A A A A A A A
A A A A A A A
A A A A A A A
A B A A A B A
A B B B B B A
# 3. slice
A A A A A A A
A A A A A A A
A B B B B B A
A B A A A B A
A A A A A A A
A A A A A A A
A A A A A A A
A B A A A B A
A B B B B B A
# 4. slice
A A A A A A A
A A A A A A A
A B B B B B A
A B A A A B A
A A A A A A A
A A A A A A A
A A A A A A A
A B A A A B A
A B B B B B A
# 5. slice
A A A A A A A
A A A A A A A
A B B B B B A
A B B B B B A
A B A A A B A
A B A A A B A
A B A A A B A
A B B B B B A
A B B B B B A
# 6. slice
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
A A A A A A A
