# Building blocks
A,2                                              # GRASS
B,0                                              # AIR
C,1                      # STONE
D,9                                              # STILL_WATER

7x6x7 # Template dimensions

# Template data
# 0. slice
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
A A A A A A A
# 1. slice
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
B B C C C B B
A A C C C A A
# 2. slice
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
B C B B B C B
A C C C C C A
# 3. slice
B B B B B B B
B B B D B B B
B B B D B B B
B B B D B B B
B C B C B C B
A C C C C C A
# 4. slice
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
B C B B B C B
A C C C C C A
# 5. slice
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
B B C C C B B
A A C C C A A
# 6. slice
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
B B B B B B B
A A A A A A A
