# Building blocks
A,2                                              # GRASS
B,0                                              # AIR
C,5,variant:DARK_OAK                             # OAK_WOOD_PLANK
D,24,type:SMOOTH_SANDSTONE                                 # SANDSTONE
E,3,variant:DIRT                                 # DIRT
F,170,axis:Y                                     # HAY_BALE

13x18x13 # Template dimensions

# Template data
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
# 0. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
# 1. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
# 2. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B C C C C C B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
A A A A A D D D A A A A A
# 3. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B C C C C C B B B B
B B B C C B B B C C B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B F D B B B B
B B B B D F F F D B B B B
B B B B D F F F D B B B B
B B B B D F F F D B B B B
A A A A D E E E D A A A A
# 4. slice
B B B B B B B B B B B B B
B B B B B B C B B B B B B
B B B B C C B C C B B B B
B B B C C B B B C C B B B
B B C C B B B B B C C B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B F D B B B
B B B D B B B B F D B B B
B B B D B B B F F D B B B
B B B D B B B F F D B B B
B B B D B B F F F D B B B
B B B D B B F F F D B B B
A A A D A A E A E D A A A
# 5. slice
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B C B B B C B B B B
B B B C C B B B C C B B B
B B C C B B B B B C C B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B F D B B B
B B B D B B B B F D B B B
B B B D B B B F F D B B B
B B B D B B B F F D B B B
B B B D B B B F F D B B B
A A A D A A A E E D A A A
# 6. slice
B B B B B B B B B B B B B
B B B B B B C B B B B B B
B B B B C C B C C B B B B
B B B C C B B B C C B B B
B B C C B B B B B C C B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B B D B B B
B B B D B B B B F D B B B
B B B D B B B B F D B B B
B B B D B B B F F D B B B
B B B D B B B F F D B B B
A A A D A A A E E D A A A
# 7. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B C C C C C B B B B
B B B C C B B B C C B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
B B B B D B B B D B B B B
A A A A D A A A D A A A A
# 8. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B C C C C C B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
B B B B B D D D B B B B B
A A A A A D D D A A A A A
# 9. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B C C C B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
# 10. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
# 11. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
